@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Roboto,sans-serif;
    background:#fff;
    overflow-x: hidden;
}

#app{
    width:100vw;
    height:100vh;
}

/* Fondo */

.screen{

    width:100%;

    min-height: 100vh;

    overflow-x: hidden;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    position:relative;

    background:white;

    overflow:hidden;
}

.screen::before{

    content:"";

    position:absolute;

    inset:0;

    background:

    radial-gradient(circle,#000 2px,transparent 2px);

    background-size:40px 40px;

    opacity:.25;

    pointer-events:none;
}

/* Logo */

.logo{

    font-family:Bangers,cursive;

    font-size:120px;

    letter-spacing:6px;

    color:#000;

    text-shadow:

    6px 6px 0 white,

    10px 10px 0 black;
}

/* Subtitulo */

.subtitle{

    font-size:28px;

    font-weight:bold;

    margin-bottom:40px;

    text-align:center;
}

/* Botones */

.red-button{

    margin:15px;

    width:240px;

    height:75px;

    border:none;

    cursor:pointer;

    color:white;

    font-size:28px;

    font-weight:bold;

    background:#d71d1d;

    clip-path:polygon(
        8% 0,
        92% 0,
        100% 20%,
        95% 50%,
        100% 80%,
        92% 100%,
        8% 100%,
        0 80%,
        5% 50%,
        0 20%
    );

    transition:.25s;
}

.red-button:hover{

    transform:scale(1.08);

    background:#ff3131;
}

.red-button:active{

    transform:scale(.96);
}

/* Flecha */

.back{

    position:absolute;

    left:40px;

    top:40px;

    font-size:60px;

    cursor:pointer;

    user-select:none;
}

/* Tarjetas tutorial */

.cards{

    display:flex;

    gap:40px;

    margin-top:40px;
}

.card{

    width:270px;

    min-height:300px;

    background:white;

    border:4px solid black;

    border-radius:18px;

    padding:25px;

    text-align:center;

    box-shadow:8px 8px black;
}

.card h2{

    margin-bottom:20px;

    font-size:30px;
}

.card p{

    line-height:1.6;
}

/* Transiciones */

.fade-enter-active,
.fade-leave-active{

    transition:.35s;
}

.fade-enter-from,
.fade-leave-to{

    opacity:0;
    transform:scale(.95);
}

